.mapActionBtn {
  width: 38px;
  height: 38px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.32);
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #c12731;
  display: block;
  margin: 5px;
  user-select: none;
  &:hover {
    cursor: pointer;
    color: #d62731;
    background-color: rgba(239, 239, 239, 0.49);
  }
}